@using ProjetoFinal.Models
@model IEnumerable<Reserva>

@{
    ViewData["Title"] = "Index";
}


<h1>Relatório de Reservas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Local</th>
            <th>Usuário</th>
            <th>Check-in</th>
            <th>Check-out</th>
            <th>Valor Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Local.Nome</td>
                <td>@item.Usuario.Email</td>
                <td>@item.DataInicio.ToShortDateString()</td>
                <td>@item.DataFim.ToShortDateString()</td>
                <td>R$ @item.ValorTotal.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>